@font-face {
    font-family: 'ralewaybold';
    src: url('./fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('./fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaymedium';
    src: url('./fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('./fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaysemibold';
    src: url('./fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('./fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_spartanbold';
    src: url('./fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('./fonts/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
}

img {
    width: 400px;
    height: 100vh;
}

.form {
    margin: 0px 175px;
    background-color: beige;
    display: flex;
    flex-shrink: 0; 
    padding: 0;
}

h1 {
    font-size: 3.2rem;
    font-family: "league_spartanbold", serif;
}

p {
    line-height: 1.6;
    font-family: "ralewaysemibold", serif;
}

.sidebar {
    width: 400px;
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    text-align: center;
    color: white;
}

.name {
    background-color: rgba(0, 0, 0, 0.6);
    width: 400px;
    padding: 20px 0;
    position: absolute;
    top: 170px;
}

.credit {
    position: absolute;
    bottom: 15px;
    left: 100px;
    padding: 5px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

a {
    color: white;
}

.form-content {
    margin-top: 90px;    
}

.form-info {
    width: 70%;
    padding: 30px;
   
}

.application {
    margin-top: 18px;
    background-color: white;
    box-shadow: 0 7px 5px -5px rgb(170, 169, 169);
}

form {
    padding: 20px 30px;
}

input[type=text] {
    height: 20px;
    width: 200px;
}

input, label {
    display:block;
    font-family: "ralewaymedium", serif;
}

label {
    font-size: 10px;
    margin-bottom: 2px;
}

.text-boxes {
    margin: 10px;
    padding-right: 20px;
}

.text-boxes-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-left: -10px;
}

button {
    background-color: rgb(110, 154, 113);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-family: "ralewaymedium", serif;
    border: none;
    box-shadow: 0 7px 5px -5px rgb(170, 169, 169);
}

.text, button {
    margin-left: 30px;
    margin-top: 30px;
}

.log-in {
    font-family: "ralewaybold", serif;
    color: rgb(110, 154, 113);
    margin-top: 30px;
}

