@font-face {
    font-family: 'ralewaybold';
    src: url('./fonts/raleway-bold-webfont.woff2') format('woff2'),
        url('./fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaymedium';
    src: url('./fonts/raleway-medium-webfont.woff2') format('woff2'),
        url('./fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaysemibold';
    src: url('./fonts/raleway-semibold-webfont.woff2') format('woff2'),
        url('./fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    background-color: beige;
}

.form {
    display: flex;
}

h1 {
    font-size: 3.8rem;
    font-family: "ralewaybold", serif;
}

p {
    line-height: 1.6;
    font-size: 20px;
    font-family: "ralewaysemibold", serif;
}

.sidebar {
    width: 45%;
    height: 100vh;
    background-image: url("./images/form-image.jpg");
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
}

.name {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 170px;
    background-color: rgba(181, 154, 118, 0.85);
}

.credit {
    position: absolute;
    bottom: 20px;
    margin: 0 35%;
    padding: 5px;
    font-size: 10px;
    box-sizing: border-box;
}

a {
    color: white;
}

.form-content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.form-content>div {
    box-sizing: border-box;
}

.form-info {
    width: 70%;
    padding: 30px;
    margin-top: -10px;
}

.application {
    background-color: white;
    box-shadow: 0 7px 5px -5px rgb(170, 169, 169);
}

form {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-top: -40px;
}

input {
    height: 25px;
    width: 65%;
    padding-inline-start: 5px;
    border-radius: 5px;
    border: 2px solid rgb(181, 154, 118);
}

input:focus {
    outline: none;
    border: 2px solid rgb(71, 163, 170);
    box-shadow: 1px 1px 5px 1px rgb(165, 171, 165);
}

input:invalid {
    outline: none;
    box-shadow: 1px 1px 5px 1px rgb(198, 78, 78);
}

img {
    width: 60px;
    height: auto;
    vertical-align: middle;
    display: inline-block
}

.error-message {
    font-family: "ralewaymedium";
    font-size: 11px;
    margin-top: 8px;
    color: rgb(255, 8, 8);
}

input,
label {
    display: block;
    font-family: "ralewaymedium", serif;
}

label {
    font-size: 11px;
    margin-bottom: 3px;
}

.text-boxes {
    flex: 0 1 calc(50% - 15px);
}

button {
    background-color: rgb(181, 154, 118);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    max-width: 200px;
    box-shadow: 0 7px 5px -5px rgb(170, 169, 169);
    font-family: "ralewaysemibold", serif;
}

.text,
button {
    margin-left: 30px;
    margin-top: 30px;
}

.log-in {
    font-family: "ralewaybold", serif;
    color: rgb(181, 154, 118);
    margin-top: 30px;

}